<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/css/stylelayout/header.css" rel="stylesheet" />
    <link href="~/css/stylelayout/layout.css" rel="stylesheet" />
    <link href="~/css/stylelayout/sidebarcss.css" rel="stylesheet" />

	<title>Home</title>
</head>
<body>
	<div class="Traigle"></div>
	<div class="Wrapper">
		<div class="sidebar">
			@if(User.Identity.IsAuthenticated)
			{
				<img class="user" src="@User.FindFirst("ImageUser").Value" title="img" />
				<div class="box">
					<p>@User.Identity.Name</p>
					<h1>C# Developer</h1>
				</div>
				<div class="boxUser">
					<a asp-controller="Account" asp-action="Logout">Exit</a> <br />
				</div>
			}
			else
			{
				<img class="user" src="~/image/cat.png" title="img" />
				<div class="box">
					<p>Добро пожаловать</p>
					<h1>Гость</h1>
				</div>
				<div class="boxUser">
					<a asp-controller="Account" asp-action="Account">Login</a><br />
					<a asp-controller="Register" asp-action="Register">Register</a>
				</div>
			}
		</div>

		<div class="mainHeader">
			<div class="header">
				<div class="list_li"></div>
				<ul>
					<li><a class="item" asp-controller="Home" asp-action="Index">Home</a></li>
					<li><a class="item" href="#">About</a></li>
					<li><a class="item" href="#">Skils</a></li>
					<li><a class="item" href="#">Edication</a></li>
					<li><a class="item" href="#">Portfolio</a></li>
					<li><a class="item" href="#">Experiece</a></li>
					<li><a class="item" asp-controller="Blog" asp-action="Blog" >Blog</a></li>
					<li><a class="item" href="#">Contact</a></li>
					<li><img src="~/image/magnifier.png"/></li>
					<li><img src="~/image/menu.png"/></li>
				</ul>
			</div>

			@RenderBody()

		</div>
	</div>
</body>
</html>