@model IEnumerable<WebCore.Domain.Models.User>
@{
	Layout = "_Layout";
}
<head>
    <link href="~/css/homeindex/homecontentcss.css" rel="stylesheet" />
    <link href="~/css/homeindex/content.css" rel="stylesheet" />
</head>
<div class="contentHome">
	<div class="left">
		<h1>hello</h1>
		<h2>My name is Михаил</h2>
		<h3>& i am beginner c# developer</h3>
		<div class="refPortfolio">
			<a class="text" href="#">Portfolio</a>
		</div>
	</div>
	<div class="midleLine"></div>
	<div class="right">
		<img src="~/image/cat.png" title="img" />
	</div>
</div>

<div class="content">
	<H1> Content </H1>
	@foreach(var item in Model)
	{
	 <h2>@item.Name</h2>
	 <h3>@item.Age</h3>
	 <h3>@item.Email</h3>
	}
	
</div>
