@model IEnumerable<WebCore.Domain.Models.BlogNews>
@{
	Layout = "_Layout";
}
<head>
    <link href="~/css/homeindex/homecontentcss.css" rel="stylesheet" />
    <link href="~/css/homeindex/content.css" rel="stylesheet" />
    <link href="~/css/homeindex/blogfingstyle.css" rel="stylesheet" />
    <link href="~/css/homeindex/blognewsstyle.css" rel="stylesheet" />
</head>
<div class="contentHome">
	<div class="left">
		<h1>hello</h1>
		<h2>My name is Михаил</h2>
		<h3>& i am beginner c# developer</h3>
		<div class="refPortfolio">
			<a class="text" href="#">Portfolio</a>
		</div>
	</div>
	<div class="midleLine"></div>
	<div class="right">
		<img src="~/image/cat.png" title="img" />
	</div>
</div>

<div class="content">
	<form>
	<div class="BlokFundNews">
		<input class="ButtonInput" type="text_button" name="InputFungItem">
		<select>
			<option>Всё</option>
  			<option>Программирование</option>
 			<option>Спорт</option>
 			<option>Отдых</option>
		</select>
		<input class="Checkbox" type="checkbox" name="html" value="html"/>
		<p class="TextCheckbox">Сортировать по дате</p>
		<div class="ButtonFind">
			<a class="TextButton" href="Portfolio">Find</a>
		</div>
	</div>
	</form>

	@foreach(var item in Model)
	{
	<form>
	<div class="ItemNews">
		<div class="Image">
			<img src="@item.Url_image">
		</div>
		<div class="Content">
			@item.Categori
			<a class="text_button" href="Portfolio">...</a>
		</div>	
		<div class="Content">@item.Text_Content
		</div>
		<div class="Time">
			@item.Time.Value.Date.ToString("dd:MM:yyyy")
		</div>
	</div>
	</form>
	}	
</div>
